* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data__wrapper button {
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

.data__wrapper span {
  font-size: 30px;
}
